
 *{
    margin: 0;
	  padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #262626;
    color: #05FF73;
    overflow-x: hidden;
  }
	
	
	
  nav{
	  display: flex;
	  justify-content: space-around;
	  align-items: center;
	  min-height: 10vh;
	  background-color: #000000;
	  opacity: 0.95;
	  position: fixed;
	  width: 100%;
	  z-index: 1;
  }

ul{
	  position: absolute;
	  height: 90vh;
		right: 0px;
	  top: 10vh;
	  background-color: #000000; 
	  display: flex;
	  flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 40%;
		transform: translatex(100%);
	  transition: transform 0.4s ease-in;
		opacity: 0.95;
		list-style: none;
	}

  ul a{
		text-decoration: none;
		font-size: 20px;
    color: #05FF73;
	}
	
	.lines div{
	  width: 25px;
	  height: 3px;
	  background-color: #05FF73;
	  margin: 5px;
	}
	
	.lines{
		display: block;
		cursor:  crosshair
	}
	
	
	.nav-active{
		transform: translateX(0%);
	}
	
@keyframes ulFade{
  from{
	  opacity: 0;
		transform: translateX(50px);
			}
		
	to{
		opacity: 1;
		transform: translateX(0px);
			}
}
	
	
	.toggle .l1{
		 transform: rotate(-45deg) translate(-5px,6px);
  }
	
	.toggle .l2{
		 opacity: 0;
	}
	
	.toggle .l3{
		 transform: rotate(45deg) translate(-5px,-6px);
	}


@media screen and (min-width: 1000px){
	
   ul{
	   position: static;
     display: flex;
	   flex-direction: row;
	   justify-content: flex-start;
	   height: 10vh;
	   width: 40%;
	   overflow: none;
	   transform: translatex(80%);
	}

    ul li{
	   list-style: none;
	   width: 100%;
  }

    ul a{
	   color: #05FF73;
	   text-decoration: none;
	   padding: 10px;
	   font-size: 16px;
  }

    .lines{
	   display: none;
	}
}

